/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@300&display=swap");
:root {
  --main-bg-color: #ebebeb;
  --sec-bg-color: #efb796;
  --thir-bg-color: #ebebeb;
  --footer-bg-color: #202020;
  --primary-color: #4e6d73;
  --primary-color-light: rgba(78, 109, 115, 0.5);
  --secondary-color: #e1ac7b;
  --secondary-color-light: rgba(170, 144, 120, 0.8);
  --secondary-color-transperant: rgba(170, 144, 120, 0.5);
  --tertiary-color: #793029;
  --tertiary-color-light: rgba(121, 48, 41, 0.9);

  --radius: 0.25rem;
  --container-width: 1400px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 5rem;
}

p,
ul,
li {
  font-family: "Quicksand", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

small {
  font-family: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
}

section.projects {
  min-height: 100vh;
  padding: 4rem 6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  background-color: var(--thir-bg-color);
}

.projectGrid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  grid-gap: 3rem;
  /* margin: 0 2rem; */
}

@media (max-width: 980px) {
  .projectGrid {
    grid-template-columns: 1fr;
  }
}

.project {
  display: grid;
  box-shadow: #4e4e4e30 1px 1px 10px 0px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.project:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.project-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 350px;
  width: 100%;
  /* border: 1px solid var(--secondary-color-light); */
  z-index: 1;
}
.project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    var(--tertiary-color-light),
    #222
  );
  opacity: 0.85;
  transition: var(--transition);
}
.project:hover .project-img::after {
  opacity: 0;
}
.project-info {
  background: rgb(229 229 233);
  padding: 1rem 2rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.project-info h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: rgb(24, 24, 24);
}
.project-desc {
  word-spacing: 3px;
  color: var(--clr-grey-3);
}

/* .project-gallery {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 0.5rem;
margin: 0.7rem 0;

.gatsby-image-wrapper img {
  border: 0.5px solid $secondary-color-light;
  height: 200px;
}
} */

.project-stack {
  margin-bottom: 1rem;
}
.project-stack span,
.about-stack span {
  display: inline-block;
  background: var(--clr-grey-9);
  color: var(--clr-grey-5);
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.project-links a {
  margin-left: 0;
}
.project-icon {
  color: var(--secondary-color-light);
  font-size: 1.5rem;
  margin-right: 0.5rem;
  transition: var(--transition);
}
.project-icon:hover {
  opacity: 0.7;
}
/* @media screen and (min-width: 576px) {
.project-img {
  height: 19rem;
}
}
@media screen and (min-width: 768px) {
.project-img {
  height: 22rem;
}
}
@media screen and (min-width: 992px) {
.project {
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}
.project-img {
  grid-column: 1 / span 8;
  grid-row: 1 / 1;
  height: 30rem;
  /* border-radius: $radius; */
/* box-shadow: var(--dark-shadow); */
/* } */
/* .project-info {
  border-radius: $radius;
  box-shadow: var(--dark-shadow);

  z-index: 1;
  grid-column: 5 /12;
  grid-row: 1 / 1;
}
.project:nth-of-type(even) .project-img {
  grid-column: 5 / -1;
  grid-row: 1 / 1;
}
.project:nth-of-type(even) .project-info {
  grid-column: 2 / span 7;
  grid-row: 1 / 1;
  text-align: left;
} */
/* }  */

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 125px;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 0 3px 4px;

  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid black;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: black;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid black;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
